In [ ]:
no of TV ads    no of cars sold

In [1]:
import pandas as pd

In [2]:
no_of_tv_ads = [1,3,2,1,3]
no_of_cars_sold = [14,24,18,17,27]

In [16]:
print(list(zip(no_of_tv_ads,no_of_cars_sold)))

[(1, 14), (3, 24), (2, 18), (1, 17), (3, 27)]

In [3]:
df = pd.DataFrame(list(zip(no_of_tv_ads,no_of_cars_sold)),columns=["no of tv ads","no of cars sold"])

In [4]:
df

   no of tv ads  no of cars sold
0             1               14
1             3               24
2             2               18
3             1               17
4             3               27

In [ ]:
 X -- features
 y == Target

In [5]:
X = df[["no of tv ads"]]

In [6]:
y = df["no of cars sold"]

In [7]:
X

   no of tv ads
0             1
1             3
2             2
3             1
4             3

In [8]:
y

0    14
1    24
2    18
3    17
4    27
Name: no of cars sold, dtype: int64

In [9]:
from sklearn.linear_model import LinearRegressionRegression

In [10]:
lr = LinearRegression()

In [11]:
#To make a model
lr.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [12]:
#R2 score
lr.score(X,y)

0.8771929824561403

In [13]:
lr.coef_

array([5.])

In [ ]:
Interpreting the coefficient:
Holding all other features fixed,a 1 unit increase in no of tv ads is associated with an increase of 5 units in no of cars 
sold

In [14]:
lr.intercept_

10.0

In [17]:
lr.predict([[10]])

array([60.])

In [ ]:
y = b0 +b1x + e
Regression Evaluation Metrics
Mean Absolute Error is the easiest to understand, because its a average error.
Mean Square Error - more popular than MAE because it punishes the larger errors, which tends to be useful in real time.
RMSE - More popular than MSE

In [18]:
import statsmodels.formula.api as sm

In [24]:
t = df["no of tv ads"]
c = df["no of cars sold"]

In [25]:
import statsmodels.api as s

In [26]:
t = s.add_constant(t)

C:\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [ ]:
#sm.ols(sm.OLS())

In [27]:
#Ordinal Least Square
model = sm.OLS(c,t)

In [28]:
model

In [29]:
result = model.fit()

In [30]:
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        no of cars sold   R-squared:                       0.877
Model:                            OLS   Adj. R-squared:                  0.836
Method:                 Least Squares   F-statistic:                     21.43
Date:                Wed, 13 May 2020   Prob (F-statistic):             0.0190
Time:                        17:43:33   Log-Likelihood:                -9.6687
No. Observations:                   5   AIC:                             23.34
Df Residuals:                       3   BIC:                             22.56
Df Model:                           1
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const           10.0000      2.366      4.226      0.024       2.469      17.531
no of tv ads     5.0000      1.080      4.629      0.019       1.563       8.437
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   1.214
Prob(Omnibus):                    nan   Jarque-Bera (JB):                0.674
Skew:                           0.256   Prob(JB):                        0.714
Kurtosis:                       1.276   Cond. No.                         6.33
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

C:\Anaconda3\lib\site-packages\statsmodels\stats\stattools.py:72: ValueWarning: omni_normtest is not valid with less than 8 observations; 5 samples were given.
  "samples were given." % int(n), ValueWarning)